#mr1{
    background-image: url(Payment\ Gateway.jpeg);
    align-content: center;
    align-items: center;
    height: 640px;
    text-align: center;
    text-decoration: none;
    padding: 58px 0px;
    margin: -7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(33, 35, 158);
    colo
}